<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home Page</title>

    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
      }

      .gradient-bg {
        /* global 94%+ browsers support */
        background: linear-gradient(
          90deg,
          rgba(254, 255, 249, 1) 0%,
          rgba(218, 223, 223, 1) 50%,
          rgba(181, 182, 183, 1) 100%
        );
      }
      .section__padding {
        padding: 4rem 6rem;
      }

      .section__margin {
        margin: 4rem 6rem;
      }

      @media (max-width: 700px) {
        .section__padding {
          padding: 4rem;
        }
        .section__margin {
          margin: 4rem;
        }
      }

      @media (max-width: 550px) {
        .section__padding {
          padding: 3rem 2rem;
        }
        .section__margin {
          margin: 4rem 2rem;
        }
      }

      .sec-par > a,
      .offer-par > a {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
      .footer-menu > a {
        color: black;
        text-decoration: none;
      }

      .footer-input {
        background: #ffffff;
        border: 2px solid #bbc8d4;
        box-sizing: border-box;
        border-radius: 20px;
        width: 269px;
        height: 45px;
        padding: 1rem;
      }
      @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .mobile-text-center {
          text-align: center;
        }
        .h11 {
          padding-right: 0px !important;
          font-size: 30px !important;
          text-align: center;
          text-align: justify;
        }
        .ph11 {
          padding-right: 0px !important;
          font-size: 20px !important;
          text-align: center;
        }

        .sec-h1 {
          font-size: 24px !important;
          margin-top: 15px;
        }
        .sec-img {
          width: 100px;
        }
        .sec-par {
          padding-right: 0px !important;
          font-size: 14px;
          margin-top: 15px;
        }

        .sec-par > a,
        .offer-par > a {
          color: black;
          font-weight: bold;
          text-decoration: underline;
        }

        .offer-h1 {
          margin-top: 30px;
          padding: 0px 70px;
        }

        .offer-par {
          padding: 0px 40px;
        }

        .offer-details {
          padding-left: 0px !important;
          margin-top: 0px !important;
        }

        .download-area{
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
        }

        footer {
          text-align: center;
        }

        .footer-menu > a {
          color: black;
          font-weight: bold;
        }
        .social {
          display: flex;
          justify-content: center;
        }

        .up-to-date {
          margin-top: 30px;
        }
        .input-arrow {
          left: 280px !important;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"
          ><img src="./Images/nav-logo.svg" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="https://dev-spenditure.pantheonsite.io/blog/"
                target="_blank"
                rel="noreferrer"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <div class="navbar-nav ms-auto text-center">
            <a class="px-2 nav-item nav-link" href="./login.html"
              ><button
                class="btn"
                style="
                  background: white;
                  color: black;
                  border: 1px solid red;
                  border-color: red;
                "
              >
                Sign in
              </button></a
            >
            <a class="px-2 nav-item nav-link" href="./signup.html"
              ><button type="button" class="btn btn-danger">
                Create a free account
              </button></a
            >
          </div>
        </div>
      </div>
    </nav>

    <section class="gradient-bg row g-0 section__padding container-fluid mt-5">
      <div class="col-sm-12 col-md-7 col-lg-7 mobile-text-center">
        <h1
          class="h11 fw-bold lh-base"
          style="font-size: 60px; padding-right: 140px"
        >
          A simplified way to take charge and
        </h1>
        <h1 class="h11 text-success fw-bold lh-base" style="font-size: 60px">
          control of your finances
        </h1>

        <p class="ph11 fs-3" style="padding-right: 150px">
          Create custom budgets, track financial expenditures and discover
          investment opportunities
        </p>
        <div class="mt-5">
          <a class="" href="./signup.html"
            ><button type="button" class="btn btn-danger p-3">
              Sign Up for Spenditure
            </button></a
          >
        </div>

        <div class="d-flex mt-5 mb-5">
          <img class="" src="./Images/download-apple.svg" alt="" />
          <img class="p-2" src="./Images/download-google.svg" alt="" />
        </div>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5 position-relative">
        <img
          class="img-responsive w-100"
          src="./Images/couple-pic.svg"
          alt=""
        />
      </div>
    </section>

    <section
      id="security"
      class="mobile-text-center container-fluid row g-0 section__padding"
    >
      <div class="col-sm-12 col-md-2 col-lg-2">
        <img class="sec-img img-responsive" src="./Images/shield.png" alt="" />
      </div>

      <div class="col-sm-12 col-xs-6 col-md-10 col-lg-10">
        <h1 class="sec-h1 h11">Your security is our priority</h1>
        <p class="sec-par" style="padding-right: 360px">
          Spenditure uses the highest level of Internet Security and it is
          secured by 256 bits SSL security encryption to ensure that your
          information is completely protected from fraud.
          <a href="">Learn More</a>
        </p>
      </div>
    </section>

    <section
      id="finance"
      class="mobile-text-center container-fluid row g-0 section__padding"
    >
      <div class="text-center col-sm-12 col-md-6 col-lg-6">
        <img
          class="d-none d-sm-none d-md-block d-lg-block img-responsive w-100"
          src="./Images/finance-img.png"
          alt=""
        />
        <img
          class="d-block d-sm-block d-md-none d-lg-none img img-responsive w-100"
          src="./Images/finance-img-mobile.svg"
          alt=""
        />
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center"
      >
        <h1 class="fw-bold">Get All Your Finances In one App</h1>
        <p class="sec-par">
          See how you spend by connecting your finances,expense and income.
        </p>

        <a class="" href="./signup.html"
          ><button type="button" class="btn btn-danger">Get Started</button></a
        >
      </div>
    </section>

    <section
      id="offer"
      class="mobile-text-center container-fluid section__padding"
    >
      <h1 class="text-center" style="font-size: 45px; font-weight: bolder">
        What We Offer
      </h1>
      <div class="row g-0">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img
            class="d-none d-sm-none d-md-block d-lg-block img img-responsive w-100"
            src="./Images/offer-img1.png"
            alt="offer"
          />
          <img
            class="d-block d-sm-block d-md-none d-lg-none w-100"
            src="./Images/offer-img-mobile1.svg"
            alt="offer"
          />
        </div>
        <div
          class="offer-details col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center"
          style="padding-left: 300px; margin-top: 200px"
        >
          <h1 class="offer-h1 fw-bolder fs-1">Spend less than you earn</h1>
          <p class="offer-par">
            We will tell you when you’ve reached your spending limit.
            <a href="">Learn more</a>
          </p>
        </div>
      </div>
      <div class="row g-0 mt-5">
        <div
          class="d-block d-sm-block d-md-none d-lg-none col-sm-12 col-md-6 col-lg-6"
        >
          <img
            class="img-responsive w-100"
            src="./Images/offer-img-mobile2.svg"
            alt=""
          />
        </div>
        <div
          class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center mt-5"
        >
          <h1>Save with friends</h1>
          <p class="">
            Keep some finances away for a specific goal with your friends.
          </p>
        </div>
        <div
          class="d-none d-sm-none d-md-block d-lg-block col-sm-6 col-md-6 col-lg-6"
        >
          <img
            class="img-responsive w-100"
            src="./Images/offer-img2.png"
            alt=""
          />
        </div>
      </div>

      <div class="row g-0">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img
            class="d-none d-sm-none d-md-block d-lg-block img-responsive w-100"
            src="./Images/offer-img3.png"
            alt=""
          />
          <img
            class="d-block d-sm-block d-md-none d-lg-none img img-responsive w-100"
            src="./Images/offer-img-mobile3.svg"
            alt=""
          />
        </div>
        <div
          class="offer-details col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center"
          style="padding-left: 300px; margin-top: 200px"
        >
          <h1 class="offer-h1">Be up to date with your fees</h1>
          <p class="offer-par">
            We help you track your bils to keep you track,so you don’t ever be
            late or pass due date.
          </p>
        </div>
      </div>
    </section>

    <section id="features" class="container-fluid row g-0 section__padding">
      <div class="col-sm-4 text-center">
        <div class="card border-0">
          <div class="card-body">
            <div class="card-img">
              <img src="./Images/piggy.svg" alt="" />
            </div>
            <h2 class="card-title mt-3">Budget Planner</h2>
            <p class="card-text mt-3">
              Plan your finances wisely, so you’re not caught unaware when the
              bills come knocking.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="card border-0">
          <div class="card-body">
            <div class="card-img">
              <img src="./Images/getcoins.svg" alt="" />
            </div>
            <h2 class="card-title mt-3">Get Points</h2>
            <p class="card-text mt-3">
              Be rewarded for reaching your savings, goals and targets
              milestone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="card border-0">
          <div class="card-body">
            <div class="card-img">
              <img src="./Images/chartup.svg" alt="" />
            </div>
            <h2 class="card-title mt-3">Track your spending</h2>
            <p class="card-text mt-3">
              Know where your money is going to and ake charge of your expenses.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section
      id="testimonials"
      class="d-none container-fluid mt-5 text-center section__padding"
    >
      <h1>Testimonials</h1>
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide mt-5"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card border-0">
              <div class="card-body shadow-lg w-100 h-100" style="margin: auto">
                <div class="card-title p-3">
                  <img src="./Images/Stars.svg" alt="" />
                </div>
                <div class="card-text p-5">
                  This is the best budgeting app I'ver ever used. It helps me
                  plan all my spendings.
                  <div class="card-img p-3">
                    <img src="./Images/Charlie.png" alt="" />
                    <span class="p-2">Charlie Putt</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card border-0">
              <div
                class="card-body shadow-lg w-100 h-100"
                style="width: 400px; height: 400px; margin: auto"
              >
                <div class="card-title p-3">
                  <img src="./Images/Stars.svg" alt="" />
                </div>
                <div class="card-text p-5">
                  A great application, deserves a 5-star.
                  <div class="card-img mt-3">
                    <img src="./Images/Praise.png" alt="" />
                    <span class="p-2">Praise Muyiwa</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card border-0">
              <div
                class="card-body shadow-lg w-100 h-100"
                style="width: 400px; height: 400px; margin: auto"
              >
                <div class="card-title p-3">
                  <img src="./Images/Stars.svg" alt="" />
                </div>
                <div class="card-text p-5">
                  Since I started using this app, I've been able to save and
                  allocate money better.
                  <div class="card-img mt-3">
                    <img src="./Images/Ada.png" alt="" />
                    <span class="p-2">Ada Victor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card border-0">
              <div
                class="card-body shadow-lg w-100 h-100"
                style="width: 400px; height: 400px; margin: auto"
              >
                <div class="card-title p-3">
                  <img src="./Images/Stars.svg" alt="" />
                </div>
                <div class="card-text">
                  This is great, highly recommended.
                  <div class="card-img mt-3">
                    <img src="./Images/Segun.png" alt="" />
                    <span class="p-2">Segun Basit</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="download"
      class="container-fluid text-center text-light p-2"
      style="background-color: #23273c"
    >
      <h1 class="">Download the free App</h1>
      <p class="">Spend less and secure the future with Spenditure</p>
      <div class="download-area d-flex justify-content-center mb-4">
        <div>
          <a href="#"
            ><img class="border rounded-pill w-75" src="./Images/download-apple.svg" alt=""
          /></a>
        </div>
        <div>
          <a href="#"
            ><img class="border rounded-pill w-75" src="./Images/download-google.svg" alt=""
          /></a>
        </div>
      </div>
    </section>

    <footer id="footer" class="container-fluid mt-5">
      <div class="row g-0">
        <div class="col-sm-1 mt-auto mb-auto">
          <a href="#"><img src="./Images/footer-logo.svg" alt="" /></a>
        </div>
        <div class="col-sm-2">
          <h4>Company</h4>
          <div class="d-flex flex-column">
            <div class="pt-3 footer-menu"><a href=""> About Us </a></div>
            <div class="footer-menu"><a href=""> Contact Us </a></div>
            <div class="footer-menu"><a href=""> Security </a></div>
            <div class="footer-menu"><a href=""> Goals </a></div>
            <div class="footer-menu"><a href=""> Our Terms </a></div>
            <div class="footer-menu"><a href=""> Terms of Service </a></div>
          </div>
        </div>
        <div class="col-sm-2">
          <h4>Features</h4>
          <div class="d-flex flex-column">
            <div class="pt-3 footer-menu"><a href=""> Budgeting </a></div>
            <div class="footer-menu"><a href=""> Save with Friends </a></div>
            <div class="footer-menu"><a href=""> Tracker </a></div>
            <div class="footer-menu"><a href=""> Mobile App </a></div>
            <div class="footer-menu"><a href=""> Credit Score </a></div>
          </div>
        </div>
        <div class="col-sm-2">
          <h4>Spenditure Help</h4>
          <div class="d-flex flex-column">
            <div class="pt-3 footer-menu"><a href=""> FAQs </a></div>
            <div class="footer-menu"><a href=""> Privacy </a></div>
            <div class="footer-menu"><a href=""> Terms </a></div>
            <div class="footer-menu"><a href=""> Account Management </a></div>
            <div class="footer-menu"><a href=""> Accounts & Transactions </a></div>
          </div>
        </div>
        <div class="col-sm-2">
          <h4>Contact Us</h4>
          <div class="d-flex flex-column">
            <p class="pt-1">spenditure01@gmail.com</p>
            <p class="">+2349032559169</p>
            <div class="social d-inline-flex mt-1">
              <div>
                <a
                  href="https://www.facebook.com/Spenditure-101039145805966/"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="./Images/facebook.svg" alt="" />
                </a>
              </div>
              <div class="px-3">
                <a
                  href="https://instagram.com/spenditure_"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="./Images/instagram.svg" alt="" />
                </a>
              </div>
              <div>
                <a
                  href="https://www.linkedin.com/company/spenditure/"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="./Images/linkedin.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="up-to-date col-sm-2">
          <h4>Stay up to date</h4>
          <p class="mt-3">Subscribe To Our Newsletter</p>

          <form action="" class="position-relative pt-3 w-100">
            <input type="text" class="footer-input" placeholder="Email" />
            <button
              class="input-arrow position-absolute border-0"
              style="
                left: 230px;
                top: 24px;
                text-shadow: none;
                background-color: white;
              "
            >
              <img src="./Images/submit-arrow.svg" alt="arrow" />
            </button>
          </form>
        </div>
      </div>

      <div class="text-center mt-3 mb-5">
        <p>Spenditure &copy; <span id="copyright"></span></p>
      </div>
    </footer>

    <script src="./index.js"></script>
  </body>
</html>
